.questionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questionItem {
  margin-top: 10rem;
}

.questionItem ul {
  margin-left: -2rem;
}

.questionItem ul li {
  list-style: none;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.correct {
  background-color: lightgreen;
}
.wrong {
  background-color: palevioletred;
}

.nextQuestion {
  padding: 0.5rem 1rem;
  width: 100%;
  color: #fff;
  background-color: lightskyblue;
  cursor: pointer;
}
