.container {
  min-height: 100vh;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wordTable tr:nth-child(2n) {
  background-color: lightgray;
}

.wordTable tr td {
  border: 1px solid;
}

.wordTable tr.wordLoading td {
  color: #808080;
  font-style: italic;
}

.wordTable tr td input {
  background-color: lemonchiffon;
}

.wordTable button {
  width: 100%;
}

.wordTable span,
.wordTable input,
.wordTable button {
  font-size: 16px;
}

.editButton {
  width: 68px !important;
}

.search {
  width: 100%;
}

@keyframes loader-animation {
  0% {
    width: 0%;
  }

  100% {
    left: 0%;
    width: 100%;
  }
}
.loader {
  height: 5px;
  width: 100%;
}
.loader .bar {
  position: relative;
  height: 3px;
  background-color: red;
  animation-name: loader-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
